<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCnZAqizzaos2sYZ2t43CjqEHHTqY2w18</string>
	<key>GCM_SENDER_ID</key>
	<string>64720394025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.equipo8.herculesTracker</string>
	<key>PROJECT_ID</key>
	<string>hercules-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>hercules-tracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64720394025:ios:7a5ec39bdbce602767c938</string>
</dict>
</plist>